# Ignore PHPStorm and VSCode settings
.idea/
.vscode/

# Ignore database and uploads
/data/database.sqlite
/data/uploads/

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Composer
vendor/

# Node
node_modules/